<!-- footer -->
<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-md-3">
                <h5 class="text-uppercase mb-3">UTE BookStore</h5>
                
            </div>

         </div>  
        <hr class="bg-white">
        <div class="text-center">
            <p>&copy; 2024 UTE BookStore. All rights reserved. Designed by html.design</p>
        </div>
    </div>
</footer>
<!-- end footer -->
